.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 120px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.link:hover {
  color: #616874;
}

.link:first-child {
  margin-right: 44px;
}

.copyright {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.linkRow {
  margin-bottom: 18px;
}

.copyrightContainer {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.linkContainer {
  display: flex;
  flex-direction: row;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.instagram {
  width: 32px;
  height: 32px;
  margin-top: -5px;
}

.phone {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}

.titleCategory {
  color: rgba(255, 255, 255, 0.74);
  font-size: 16px;
  font-weight: 600;
  /* margin-right: 10px; */
  margin-bottom: 16px;
}

.phoneNumber svg {
  margin-right: 12px;
}

.phoneNumber {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .container {
    padding: 24px 20px;
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleCategory {
    justify-content: center;
    text-align: center;
  }

  .phoneNumber {
    margin-left: 0px;
  }

  .instagramLink {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 12px;
  }

  .titleWrapper {
    margin-right: 0px;
    flex-direction: column;
    align-items: center;
  }

  .copyrightContainer {
    flex-direction: column;
  }

  .linkContainer {
    flex-direction: column;
  }

  .socialsWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .linkRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titleCategory,
  .phoneNumber,
  .link:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 630px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .linkRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link:first-child {
    margin-right: 0px;
    margin-bottom: 18px;
  }

  .logo {
    margin-bottom: 18px;
  }
}
